body {
    margin: 0;
    background-color: lightblue;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.buttons {
    width: 200px;
    margin: 0 auto;
}

#email, #home {
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}

#email:hover, #home:hover {
    background-color: white;
    transform: scale(1.05);
}