body {
    background-color: lightblue;
    height: 100%;
}

#A4,#B4,#A5,#B5,#A6 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 10px;
}