@keyframes EnterFromLeft {
    0% {
        opacity: 0;
        transform: translatex(-100%);
    }
    100% {
        opacity: 1;
        transform: translatex(0);
    }
}
body {
    margin: 0;
    background-color: lightblue;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    animation: EnterFromLeft 0.5s ease;

}
#title {
    font-size: 4rem;
    text-align: center;
    animation: EnterFromLeft 0.5s ease;
}

.container{
    width: 400px;
    margin: 0 auto;
    animation: EnterFromLeft 0.5s ease;
}

section article{
    transition: all 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section artile p{
    margin: 1rem;
}

footer{
    background-color: #222;
    border-radius: 0.5rem;
    padding: 3rem;
    position: fixed;
    color: white;

}

footer section{
    float: right;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

@media (max-width: 768px) {
    #title {
        font-size: 3rem;
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

/* CELULARES */
@media (max-width: 480px) {
    #title {
        font-size: 2rem;
        width: 100%;
    }

    .container {
        width: 100%;
    }
}
