@keyframes EnterFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes EnterFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes EnterFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    background-color: lightblue;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
    border-bottom: 0.1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    animation: EnterFromLeft 2s ease;

}
#title {
    font-size: 4rem;
    text-align: center;
    animation: EnterFromLeft 2s ease;
}

.container{
    width: 400px;
    margin: 0 auto;
    animation: EnterFromRight 3s ease;
}

section article{
    transition: all 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section artile p{
    margin: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;  
    background-color: #222;
    border-top: 0.1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 3rem;
    color: white;
    animation: EnterFromRight 3s ease;

}

#return{
    float: left;
}

.footer{
    float: right;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    animation: EnterFromButtom 3s ease;
}

footer a:hover{
    text-decoration: underline;
    color: cornflowerblue;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #title {
        font-size: 3rem;
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

/* CELULARES */
@media (max-width: 480px) {
    #title {
        font-size: 2rem;
        width: 100%;
    }

    .container {
        width: 100%;
    }
}
