body {
    background-color: lightblue;
}

#A4,#B4,#A5,#B5,#A6 {
    background-color: white;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    height: 100vh;           /* ocupa toda la ventana */
}