body {
    margin: 0;
    background-color: lightblue;
    text-align: center;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;            
    justify-content: center;
}

#email, #home {
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

#email:hover, #home:hover {
    background-color: white;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}