@keyframes EnterFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes EnterFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0;
    background-color: lightblue;
    text-align: center;
    animation: EnterFromLeft 2s ease;
}

body h1 {
    text-align: center;
    font-size: 3rem;
    animation: EnterFromLeft 2s ease;
}

body p {
    background-color: white;
    text-align: center;
    font-size: 18px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    animation: EnterFromRight 2s ease;
}

body p:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

#buttons {
    display: flex;
    flex-wrap: wrap;            
    justify-content: center;
    margin-top: 20px;
}

#acepto {
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
    border-radius: 10px;
    height: 150x;
    width: 300px;
}

#acepto:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    body p {
        background-color: white;
        text-align: center;
        font-size: 16px;
        margin: 15px;
        border: 2px solid black;
        border-radius: 10px;
        height: 400px;
    }

    #acepto {
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid black;
        border-radius: 10px;
        height: 100px;
        width: 220px;
        color: black;
    }
}

@media (max-width: 480px) {
    body p{
        background-color: white;
        text-align: center;
        font-size: 14px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 10px;
        height: 180px;
    }
    #acepto {
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 2px solid black;
        border-radius: 10px;
        height: 80px;
        width: 150px;
        color: black;
    }
}