html, body {
    height: 100%;
    margin: 0;
}


body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#A4,#B4,#A5,#B5,#A6 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100px;
}